# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcuserdatad/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata/

# Misc
*.log
